<div class="container">
  <div class="form-group">
    <h1 class="text-success text-center">Productos Proximos a Vencer</h1>
    <div class="row justify-content-center">
      <div class="col-md-5 amarillo">
        <h2 class="text-center">Más de 30 Días</h2>
         <a href="#" class="list-group-item list-group-item-action list-group-item-warning">12/11/2020<span class="badge badge-dark badge-pill">1</span></a>
         <a href="#" class="list-group-item list-group-item-action list-group-item-warning">15/07/2020<span class="badge badge-dark badge-pill">2</span></a>
         <a href="#" class="list-group-item list-group-item-action list-group-item-warning">16/05/2021<span class="badge badge-dark badge-pill">1</span></a>
      </div>
      <div class="col-md-5 lila">
        <h2 class="text-center">29 y 15 Días</h2>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">16/05/2021<span class="badge badge-dark badge-pill">3</span></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">16/05/2021<span class="badge badge-dark badge-pill">4</span></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">16/05/2021<span class="badge badge-dark badge-pill">2</span></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 red">
        <h2 class="text-center">14 Días o Menos</h2>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">16/05/2021<span class="badge badge-dark badge-pill">8</span></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">16/05/2021<span class="badge badge-dark badge-pill">1</span></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">16/05/2021<span class="badge badge-dark badge-pill">2</span></a>
      </div>
    </div>
  </div>
</div>
