/*Login*/
body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

.opacidad{
    height:100vh;
    width: 500vh;
    position: absolute;
    background:#000000;
    opacity: .80;
}

.login{
    width: 320px;
    height: 420;
    border: 2px solid #ffffff;
    border-radius: 80px 0px 80px 0px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}

.usuario{
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: 112px;
}

h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input{
    width: 100%;
    margin-bottom: 21px;
}


.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid rgb(44, 196, 102);
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.login input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    color: #ffffff;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.2s;
}

.login input[type="submit"]:hover{
    cursor: pointer;
    background: #2EC179 ;
    transition: 0.2s;
    color: #000000;
}
